<p>
  <%= link_to "Add a New Item", new_recommendation_url %>
  | <%= link_to "Sort by Title", recommendations_url(:sort => "title") %>
  | Showing <%= @recommendations.count %> of <%= Item.count %> items.
</p>

<%= paginate @recommendations %>

  <% @recommendations.each do |r| %>
    <div class="recommendation row">
        <div class='col-md-8'>
          <h1>
            <%= link_to r.title, recommendation_url(r.id) %>
            <% if r.free? %>
              <%= image_tag 'free.jpg', class: 'free' %>
            <% end %>
          </h1>
          <p><%= r.description %></p>
          <p>
            <%= link_to "Delete", recommendation_url(r.id), method: 'delete' %>
            <%= link_to "Edit", edit_recommendation_url(r.id) %>
          </p>
        </div>
        <div class="col-md-4">
          <%= link_to image_tag(r.image_url), recommendation_url(r.id) %>
        </div>
    </div>
  <% end %>
