<h1>Add an Item</h1>

<%= form_tag recommendations_url, method: 'post' do %>

  <%= label_tag "title" %>
  <%= text_field_tag  "title" %>
  <br>

  <%= label_tag "desc", "Description" %>
  <%= text_area_tag  "desc" %>
  <br>

  <%= check_box_tag "free" %>
  <%= label_tag "free", "Free?" %>
  <br>

  <%= submit_tag "Go For It!", class: 'myclass' %>

<% end %>
